@model Proyecto_Web.Models.Logica.Persona
@using Proyecto_Web.Models.Logica
@{
    ViewData["Title"] = "Mis Proyectos";
    Persona persona = (Persona)ViewData["personaEncontrada"];
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">@ViewData["Title"]</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <span class="glyphicon glyphicon-user"></span> @persona.email <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Acci贸n #1</a></li>
                <li><a href="#">Acci贸n #2</a></li>
                <li><a href="#">Acci贸n #3</a></li>
                <li class="divider"></li>
                <li><a asp-action="Index">Cerrar Sesi贸n</a></li>
            </ul>
            </li>
        </ul>
    </div>
</nav>
<div style="padding-top: 100px; width: 300px">
        <div class="list-group">
            <a href="#" class="list-group-item">Proyecto 1</a>
            <a href="#" class="list-group-item">Proyecto 2</a>
            <a href="#" class="list-group-item">Proyecto 3</a>
            <a href="#" class="list-group-item">Proyecto 4</a>
            <a href="#" class="list-group-item">Proyecto 5</a>
        </div>
    </div>

