@{
    ViewData["Title"] = ViewData["nombreProyecto"];
    var archivos = (string[]) ViewData["archivos"];
}

<div> 
    <div> @ViewData["nombreProyecto"]</div>
    <div>

        <div class="row">
            

            @foreach (string arch in archivos)
            {
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                    <img src="..." alt="..."> @arch
                    </a>
                </div>            
            }

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            
            <div class="btn-group" role="group">
                <form accept-charset="UTF-8" role="form" class="form-signin" action="~/Home/upload" method="POST">
                    <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Subir Archivos »">
                </form>
            </div>
            
        </div>

    </div>

    

</div>