@{
    ViewData["Title"] = ViewData["nombreProyecto"];
    var archivos = (string[]) ViewData["archivos"];
}

<div> 
    <div> @ViewData["nombreProyecto"]</div>
    <div>
        <label class="control-label">Seleccione el archivo</label>
        <input id="input-1" type="file" class="file">
    </div>
    </div>

    

</div>