#contenedor{ 
background:#930; 
padding:10px; 
} 

#izquierda{ 
padding:10px; 
color:#fff; 
width:300px; 
margin:40px; 
background:#039; 
} 

#derecha{ 
padding:10px; 
color:#fff; 
width:300px; 
margin:40px; 
background:#039; 
} 